<%- include("partials/_head", {pageTitle:"Home page!"}) %>

<main>
  <h1>Tell us your secret, it will be safe, I promise *wink wink*</h1>

  <p>
    Visit the following <a href="/login">link</a> to login, so that you can see your
    secret, if you're admin you'll be able to see other people's secret
  </p>
</main>

<%- include("partials/_footer") %>
