<%- include("partials/_head", {pageTitle:"Login!"}) %>

<main>
  <h1>Please login here!</h1>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="reset">Clear values</button>
    <button type="submit">Login!</button>
  </form>
</main>

<%- include("partials/_footer") %>