<%- include("partials/_head", {pageTitle:"Register!"}) %>
<main>
  <h1>Please register here!</h1>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="text" name="secret" placeholder="Enter your secret">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="reset">Clear values</button>
    <button type="submit">Register!</button>
  </form>
</main>

<%- include("partials/_footer") %>