<%- include("partials/_head", {pageTitle:"Secret!"}) %>

<main>
  <h1>IT'S SECRET REVEAL TIME FOR <%= user.name.toUpperCase() %>!</h1>

  <p><%= user.secret %></p>
</main>

<%- include("partials/_footer") %>