* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS";
  padding: 1em;
}

header {
  padding: 1em;
  background: #b0b;
}

header h1 {
  font-weight: 900;
  text-align: center;
  color: white;
}
header h2 {
  text-align: center;
}

main {
  margin: 0 auto;
  padding: 1em;
  max-width: 900px;
}

main article:nth-of-type(2n) {
  border-color: #bada55;
}

article {
  border: 5px solid black;
  margin: 20px 0;
  padding: 20px;
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

input,
select,
textarea {
  width: 500px;
  padding: 1em;
}
button {
  transition: all 300ms linear;
  position: relative;
}
button:hover {
  /* transform: scale(2); */
}


.no-js{
  opacity: 0;

  transition: all 1ms 2000ms linear;

  /* opacity: 1; */
}

.loading{
  text-align: center;

  
}

.loading i{
  width: 50px;
  height: 50px;
  display: block;
  background-color: black;
  margin: 1em auto;
  animation: loading 1s ease-in-out  infinite alternate;
}

@keyframes loading{
  0%{
    scale:0.5;
    transform: rotate(0deg);
  }
  100%{
    scale:1;
    transform: rotate(360deg);
  }
}

.hidden{
  display:none;
}