<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jokes!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form action="/jokes" method="POST">
      <input type="text" name="question" placeholder="Enter the question">
      <input type="text" name="answer" placeholder="Enter the answer">
      <input type="number" name="rating" placeholder="Enter the rating">
      <select name="author_id">
        <option value="">Please select an author</option>
        <% for(const author of authors){ %>
          <option value="<%= author.id %>"><%= author.name %></option>
        <% } %>
      </select>
      <button>Add joke!</button>
    </form>
  </body>
</html>
